*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    outline: none;
}

body{
    background: linear-gradient(to bottom, rgba(138, 81, 252, 1), rgba(138, 81, 252, 1),rgb(93, 170, 85), rgb(32, 245, 4));
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.logo{
    display: block;
    margin: 20px auto;
    width: 300px;
}

main{
    width: 100%;
    max-width: 375px;
    background:#F4F4F4;
     border-radius: 20px;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.6);
   
    
}

label{
    color: #777777;
    font-weight: 400;
    font-size: 14px;
}

select, input{
    background: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-size: 16px;
    font-weight: 700;
    color: #555555;
    cursor: pointer;
    
}

input::placeholder{
    color: #cccccc;
    font-weight: 400;
    font-style: italic;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}




button{
    background-color: #772fd3;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    height: 48px;
    width: 100%;
    cursor: pointer;
    transition: opacity 0.3s;
    box-shadow: 0 4px 16px rgba(119, 47, 211, 0.9);
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.6;
}

section{
    border-radius: 20px;
    border: 1px solid #772fd3;
    margin-top: 36px;
    padding: 12px;

    display: flex;
    flex-direction: column;
    align-items:center;
    box-shadow: 0 4px 16px rgba(119, 47, 211, 0.9);
}

.arrow{
    margin: 15px 0;
    width: 30px;
    height: auto;
  }

.currency-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
   
}

.currency-box img {
    width: 50px;
    height: auto;
}

.currency{
    font-size: 14px;
    color: #777777;
}

.currency-value, .currency-value-to-convert{
    font-size: 20px;
    font-weight: 700;
    color: #555555;
     box-shadow: 0 4px 24px rgba(122, 11, 212, 0.2);
}
    